body{
    font-family: "pt-sans",sans-serif;
    perspective: 600px;
}
*{
    margin: 0px;
    top: 0px;
    box-sizing: border-box; 
}
/* -------------------------------------------common section---------------------------------------- */
.container {
    width: 80%;
    margin: 40px auto;
}
a {
    text-decoration: none;
}
.title{
    font-weight: bolder;
    margin:50px auto 0px auto;
    text-align: center;
    font-size: 32px;
}
.sp1{
    display: block;
    width: 100px;
    height: 2px;
    background-color: #7a5242;
    margin: 10px auto;
    transition: .5s;
}
.tit-div:hover .sp1{
    width: 150px; ;
}
ul{
    list-style: none;
}
/* -------------------------------------------HEADER---------------------------------------- */
.logo{
    float: left;
}
.menu{
    float: left;
    margin-left: -30px;
    margin-top: 5px;
}
.nav-icons{
    float: left;
    margin: 10px auto auto 30px;
}
.nav-icons a i {
    color: #000;
    font-size: 28px;
    margin: auto 10px;
}
.nav-icons:last-child{
    font-weight: bold;
}
ul li{
    display: inline-block;
}
ul li .link-item{
    position: relative; 
    padding: 10PX 15PX;
    display: block; 
    font-weight: bold;
    color: #7a5242;
}
.menu ul li .link-item:before,
.menu ul li .link-item:after{
content:"";
position: absolute;
border-style: solid; 
left: 0;
top:0; 
transition: transform 0.2s;
}
.menu ul li .link-item:before{
    border-width: 0 2px;
    height: 100%; 
    width: 95%;
    transform: scale3d(1,0,1);
}
.menu ul li .link-item:hover:before{
 transform: scale3d(1,1,1);
}
.menu ul li .link-item:after{
    border-width: 2px 0;
    height: 91%; 
    width: 98%;
    transform: scale3d(0,1,1);
    transform-origin: left;
}
.menu ul li .link-item:hover:after{
    transform: scale3d(1,1,1);
    transition-delay: .2s;
}
.dropdown{
    position: relative; 
}
.list-unstyles li a{
    color:#7a5242;
}
.dropdown-menu ul li:first-child a {
    display: block;
    border-bottom: 1px dotted #7a5242;
    margin-bottom: 10px;
}
.dropdown-menu{
    position: absolute;
    width: 450px;
    background-color: #fff;
    border: 2px solid #7a5242;
    padding: 15px; 
    margin-top: 45px;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s , visibility .5s;
}
.dropdown:hover .dropdown-menu{
    transform: scale(1);
    visibility: visible;
    opacity: 1;
}
.dropdown-menu ul{
    display: table-cell;
    text-align: left;
}
.dropdown-menu ul li{
    line-height: 2; 
}
.nav-icons a .fa-cart-plus {
    position: relative;
    margin-right: 10px;
}
.nav-icons a .fa-cart-plus::after{
    position: absolute;
    content: "0";
    background-color: #7a5242;
    color: #fff;
    border-radius: 50%;
    padding: 4px;
    font-size: 13px;
    bottom: -4px;
}
hr {
    display: block;
    border-width: 1px;
}
/* --------------------------------------slide section--------------------------------------- */
.slide-section img{
    width: 100%;
    margin-top: 50px;
}
/* --------------------------------------Special-category--------------------------------------- */
.categories{
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap:10px;
}
.img-cat{
    height: 262px;
    width: 262px;
    margin-bottom: 25px;
}
.spe-cat{
    position: relative;
}
.spe-cat h4{
    font-weight: normal;
    color: gray;
}
.spe-cat p{
    font-size: 19px;
    font-weight: bold;
}
.arrow-icon {
    width: 30px;
    height: 30px;
    background-color: brown;
    color: #fff;
    text-align: center;
    display: block;
    line-height: 30px;
    font-weight: normal;
    font-size: 22px;
    padding: 5px;
    position: absolute;
    bottom: 0;
    right: 0;
    top: auto;
    visibility: hidden;
    opacity: 0;
}
.spe-cat:hover .arrow-icon{
    visibility: visible;
    opacity: 1;
}
/* --------------------------------------Banner-category--------------------------------------- */
.banner{
    margin-top: 30px;
    display: flex;
}
.quote{
    flex-basis: 50%;
    flex-grow: 2;
    background-color: #f7f4ef;
    height: 300px ;
}
.disc1 , .disc2{
    flex-grow: 1;
}
.disc1{
    background-image: url(../img/cms-banner-1.jpg);
    background-size: cover;
    height: 300px;
    margin: auto 20px;
    flex-basis: 24%;
    padding: 20px;
    transition: .5s;
}
.disc2{
    background-image: url(../img/cms-banner-2.jpg);
    background-size: cover;
    height: 300px;
    flex-basis: 24%;
    padding: 20px;
    transition: .5s;
}
.disc1:hover , .disc2:hover{
    transform: scale(1.1);
}
.astrid{
    font-size: 24px;
    margin-bottom: -5px;
    font-weight: bold;
}
.quote-icon{
    color: #7a5242;
    font-size: 36px;   
    position: absolute; 
    margin: 20px;
}
.mark{
    font-size: 16px;
}
.tit-icon{
    position: relative;
}
.ast-tit{
    position: absolute;
    padding-left: 65px;
    margin-top: 15px;
}
.text-ban{
    margin: 80px 20px 20px 20px;
    text-align: justify;
    line-height: 1.7
}
.sp{
    display: flex;
    float: right;
}
.sp2{
    height: 1.5px;
    width: 40px;
    z-index: 1;
    background-color: #7a5242;
    margin: 30px 10px 10px 0px;
}
.disc-tex{
    font-size: 18px;
    color: #7a5242;
}
/* --------------------------------------imotions-category--------------------------------------- */
.imotions{
    display: grid;
    grid-template-columns: repeat(5,20%);
    text-align: center;
    margin: 40px auto  50px auto;
}
.del-icons{
    border-right: 1px solid #7a5242;
}
.del-icons:last-child{
    border: 0px;
}
.icon-img{
    background-image: url(../img/service-icon.png);
    height: 55px;
    background-repeat: no-repeat;
}
.icon1{
    background-position: center 0%;
    transition: all .5s;
}
.del-icons:hover .icon1{
    background-position: center 11%;
}
.icon2{
    background-position: center 22.5%;
    transition: all .5s;
}
.del-icons:hover .icon2{
    background-position: center 33.25%;
}
.icon3{
    background-position: center 45%;
    transition: all .5s;
}
.del-icons:hover .icon3{
    background-position: center 56.25%;
}
.icon4{
    background-position: center 67.5%;
    transition: all .5s;
}
.del-icons:hover .icon4{
    background-position: center 78.25%;
}
.icon5{
    background-position: center 90%;
    transition: all .5s;
}
.del-icons:hover .icon5{
    background-position: center 101%;
}
.del-icons p{
    color: gray;
    font-size: 15px;
}
/* --------------------------------------Featured Products--------------------------------------- */
.list-prod{
    display: flex;
    justify-content: center;
}
.list-prod li{
    margin: 30px 20px 20px 20px;
    cursor: pointer;
}
.products{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 grid-gap:20px;
 margin: 30px 0px;
}
.product-img{
 position: relative;
}
.product-overlay{
    position: absolute;
    top: 0;
    left: 0;
    transform:scalex(0);
    opacity: 0.9;
    transition: transform 0.2s;
}
.product-overlay ul{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-left: -25px;
}
.product-overlay ul li{
    width: 40px;
    height: 40px;
    background-color: #7a5242;
    text-align: center;
}
.product-overlay ul li i{
    color: #fff;
    line-height: 40px;
}
.prod-item:hover .product-overlay{
    transform: scalex(1);
}
.product-info span{
    display: block;
    margin: 5px 0;
}
.product-info i{
    margin-top: 10px;
}
.active{
    color: yellow;
}
.emp-str{
    font-size: 14px;
}
